<div class="post-builder" [formGroup]="formGroup">
  <div class="left-container hidden lg:block">
    <div class="top-title">Drag a block onto the post...</div>
    <div class="left-menu">
      @for (item of sectionTypes; track item) {
        <div class="left-menu__item" pDraggable (onDragStart)="dragContentStart(item.value)" (onDragEnd)="dragContentEnd()">
          <img draggable="false" [src]="getIconUrl(item.value)" />
          <span draggable="false" class="left-menu__item--name">{{ item?.label }}</span>
        </div>
      }
    </div>
  </div>
  <div class="right-container">
    <div class="right-content" pDroppable (onDrop)="dropContent()">
      @if (hasContent) {
        <p-table
          class="post-builder-table"
          [value]="postContentForms.controls"
          dataKey="id"
          [metaKeySelection]="false"
          [scrollable]="true"
          scrollHeight="100%"
          [reorderableColumns]="true"
        >
          <ng-template pTemplate="body" let-formItem let-index="rowIndex">
            <tr [pReorderableRow]="index">
              <td>
                <app-section-block (onDelete)="onDeleteSectionBlock(index)" (onDuplicate)="onDuplicateSectionBlock(index)" id="content-{{ index }}">
                  <ng-container blockSortIcon>
                    <img
                      pReorderableRowHandle
                      [src]="'assets/img/icon/drag-horizontal.svg'"
                      pDraggable
                      (onDragStart)="dragBlockStart()"
                      (onDragEnd)="dragBlockEnd()"
                    />
                  </ng-container>
                  <ng-container blockContent>
                    @switch (formItem?.value?.sectionType) {
                      @case (EPostSectionType.TEXT) {
                        <app-text-section [index]="index" [formItem]="formItem" [submitted]="submitted"></app-text-section>
                      }
                      @case (EPostSectionType.IMAGE) {
                        <app-image-section [index]="index" [formItem]="formItem" [submitted]="submitted"></app-image-section>
                      }
                      @case (EPostSectionType.VIDEO) {
                        <app-video-section [index]="index" [formItem]="formItem" [submitted]="submitted"></app-video-section>
                      }
                      @case (EPostSectionType.AUDIO) {
                        <app-audio-section [index]="index" [formItem]="formItem" [submitted]="submitted"></app-audio-section>
                      }
                      @case (EPostSectionType.FILE) {
                        <app-file-section [index]="index" [formItem]="formItem" [submitted]="submitted"></app-file-section>
                      }
                    }
                  </ng-container>
                </app-section-block>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="footer">
            <tr>
              <td>
                <div id="add-new-content" class="py-6">
                  <app-empty-post-prompt [showEmptyHeader]="false" (onAddNewSection)="onAddNewSection($event)" />
                </div>
              </td>
            </tr>
          </ng-template>
        </p-table>
      } @else {
        <app-empty-post-prompt (onAddNewSection)="onAddNewSection($event)" />
      }
    </div>
  </div>
</div>
