<p-panel styleClass="panel-custom mb-4">
  <ng-template pTemplate="header">
    <div class="header">
      <ng-content select="[blockSortIcon]"></ng-content>
    </div>
  </ng-template>
  <ng-content select="[blockContent]"></ng-content>
  <div class="block-actions">
    <p-button outlined="true" [label]="'Duplicate'" icon="pi pi-clone" iconPos="left" (click)="onDuplicateSectionBlock()" />
    <p-button severity="danger" outlined="true" [label]="'Delete'" icon="pi pi-trash" iconPos="left" (click)="onDeleteSectionBlock()" />
  </div>
</p-panel>
