<div class="grid gap-6" [formGroup]="formItem">
  <div class="col-span-12 mt-4">
    <label for="heading" class="block font-bold mb-3">Heading</label>
    <input pInputText [type]="'text'" [formControl]="controls['heading']" [placeholder]="'Enter Heading'" id="heading" class="w-full" />
  </div>
  <div class="col-span-12">
    <label for="mediaUrl" class="font-bold inline-block mb-3 mr-1">Image</label><span class="text-red-600">*</span>
    <app-file-upload
      id="mediaUrl"
      [fileUrl]="formItem.value?.mediaUrl"
      formControlName="mediaUrl"
      [formGroup]="formItem"
      [submitted]="submitted"
      (onUploadFileSuccess)="onUploadFile($event)"
    ></app-file-upload>
    <app-validation-message [submitted]="submitted" [control]="controls['mediaUrl']" [fieldName]="'Image'" />
  </div>

  <div class="grid grid-cols-12 col-span-12 gap-6">
    <div class="col-span-12 md:col-span-8">
      <label for="description" class="block font-bold mb-3">Description</label>
      <textarea pTextarea id="description" [formControl]="controls['description']" placeholder="Enter Description" rows="4" cols="20" autoResize="true" fluid></textarea>
    </div>
    <div class="col-span-12 md:col-span-4">
      <label for="photoCredit" class="block font-bold mb-3">Photo Credit</label>
      <input pInputText [type]="'text'" [formControl]="controls['photoCredit']" [placeholder]="'Enter Photo Credit'" id="photoCredit" class="w-full" />
    </div>
  </div>
</div>
