<!-- <div class="grid" [formGroup]="formItem">
    <ng-container formArrayName="sectionFiles">
        @for (fileFormControl of sectionFiles.controls; track fileFormControl) {
            <div class="col-12 md:col-6 lg:col-6 xl:col-3">
                <app-lesson-content-file-item
                    [formGroup]="formItem"
                    [formItem]="fileFormControl"
                    [index]="$index"
                    [submitted]="submitted"
                />
            </div>
        }
    </ng-container>
</div> -->
File section TBD