<p-toolbar styleClass="mb-6">
  <ng-template #start>
    <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
    <p-button severity="secondary" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length" />
  </ng-template>

  <ng-template #end>
    <p-button label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV()" />
  </ng-template>
</p-toolbar>

<p-table
  #dt
  [value]="products()"
  [rows]="10"
  [columns]="cols"
  [paginator]="true"
  [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
  [tableStyle]="{ 'min-width': '75rem' }"
  [(selection)]="selectedProducts"
  [rowHover]="true"
  dataKey="id"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} products"
  [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 20, 30]"
>
  <ng-template #caption>
    <div class="flex items-center justify-between">
      <h5 class="m-0">Manage Products</h5>
      <p-iconfield>
        <p-inputicon styleClass="pi pi-search" />
        <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
      </p-iconfield>
    </div>
  </ng-template>
  <ng-template #header>
    <tr>
      <th style="width: 3rem">
        <p-tableHeaderCheckbox />
      </th>
      <th style="min-width: 16rem">Code</th>
      <th pSortableColumn="name" style="min-width: 16rem">
        Name
        <p-sortIcon field="name" />
      </th>
      <th>Image</th>
      <th pSortableColumn="price" style="min-width: 8rem">
        Price
        <p-sortIcon field="price" />
      </th>
      <th pSortableColumn="category" style="min-width: 10rem">
        Category
        <p-sortIcon field="category" />
      </th>
      <th pSortableColumn="rating" style="min-width: 12rem">
        Reviews
        <p-sortIcon field="rating" />
      </th>
      <th pSortableColumn="inventoryStatus" style="min-width: 12rem">
        Status
        <p-sortIcon field="inventoryStatus" />
      </th>
      <th style="min-width: 12rem"></th>
    </tr>
  </ng-template>
  <ng-template #body let-product>
    <tr>
      <td style="width: 3rem">
        <p-tableCheckbox [value]="product" />
      </td>
      <td style="min-width: 12rem">{{ product.code }}</td>
      <td style="min-width: 16rem">{{ product.name }}</td>
      <td>
        <img [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image" [alt]="product.name" style="width: 64px" class="rounded" />
      </td>
      <td>{{ product.price | currency: 'USD' }}</td>
      <td>{{ product.category }}</td>
      <td>
        <p-rating [(ngModel)]="product.rating" [readonly]="true" />
      </td>
      <td>
        <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product.inventoryStatus)" />
      </td>
      <td>
        <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editProduct(product)" />
        <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteProduct(product)" />
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog [(visible)]="productDialog" header="Post Details" [modal]="dialogConfigs.modal" [breakpoints]="dialogConfigs.breakpoints" [style]="dialogConfigs.style" [draggable]="dialogConfigs.draggable" [resizable]="dialogConfigs.resizable">
  <ng-template #content>
    <form [formGroup]="formGroup">
      <div class="flex flex-col gap-6">
        <div class="grid grid-cols-12 gap-4">
          <div class="col-span-12 md:col-span-9">
            <label for="title" class="block font-bold mb-3">Title</label>
            <input pInputText id="title" type="text" formControlName="title" placeholder="Enter Title" fluid />
          </div>
          <div class="col-span-12 md:col-span-3">
            <label for="status" class="block font-bold mb-3">Status</label>
            <p-select id="status" formControlName="status" [options]="dropdownItems" optionValue="id" optionLabel="name" placeholder="Select One" class="w-full"></p-select>
          </div>
        </div>

        <div>
          <label for="description" class="block font-bold mb-3">Description</label>
          <p-editor class="w-full p-editor" id="description" [style]="{ height: '220px' }" formControlName="description" placeholder="Enter Description" />
        </div>

        <div class="grid grid-cols-12 gap-4">
          <div class="col-span-12 lg:col-span-3">
            <label for="category" class="block font-bold mb-3">Category</label>
            <p-select id="category" formControlName="category" [options]="dropdownItems" optionValue="id" optionLabel="name" placeholder="Select One" class="w-full"></p-select>
          </div>
          <div class="col-span-12 lg:col-span-9">
            <label for="tags" class="block font-bold mb-3">Tags</label>
            <p-multiselect id="tags" formControlName="tags" [options]="dropdownItems" placeholder="Select Tags" optionValue="id" optionLabel="name" display="chip" [filter]="true" [maxSelectedLabels]="99" fluid> </p-multiselect>
          </div>
        </div>

        <!--        <div>-->
        <!--          <label for="heroImage" class="block font-bold mb-3">Hero Image</label>-->
        <!--        </div>-->
      </div>
    </form>

    <div class="mt-5">
      <app-post-builder #postBuilderComponent></app-post-builder>
    </div>
  </ng-template>

  <ng-template #footer>
    <p-button label="Cancel" icon="pi pi-times" text (click)="hideDialog()" />
    <p-button label="Save" icon="pi pi-check" (click)="saveProduct()" />
  </ng-template>
</p-dialog>

<p-confirmdialog [style]="{ width: '450px' }" />
