<div class="grid gap-6" [formGroup]="formItem">
  <div class="col-12 mt-4">
    <label for="mediaUrl" class="block font-bold mb-3">Spotify URL</label>
    <input pInputText [type]="'text'" class="w-full" [formControl]="controls['mediaUrl']" [placeholder]="'Enter Audio URL'" id="mediaUrl" />
  </div>
  @if (mediaUrl) {
    <div class="col-12">
      <app-audio-embed-view [url]="mediaUrl" />
    </div>
  }
  <div class="col-12">
    <label for="description" class="block font-bold mb-3">Description</label>
    <textarea pTextarea id="description" [formControl]="controls['description']" placeholder="Enter Description" rows="3" cols="20" fluid></textarea>
  </div>
</div>
