.layout-topbar-action {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color-secondary);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  color: var(--text-color);
  transition: background-color var(--element-transition-duration);
  cursor: pointer;

  &:hover {
    background-color: var(--surface-hover);
  }

  i {
    font-size: 1.25rem;
  }

  span {
    font-size: 1rem;
    display: none;
  }
}

:host ::ng-deep {
  .topbar-blur-bg {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }

  .topbar-widget {
    position: sticky;
    top: 0;
    z-index: 999;
    background: transparent;
    max-width: 1532px;
    margin: 0 auto;
  }

  .avatar-menu {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;

    &:hover {
      background-color: var(--surface-hover);
    }
  }

  .menu-custom {
    .p-menu-overlay {
      background-color: rgba(var(--blur-surface-rgba), 0.2);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    }

    @media (min-width: 1545px) {
      .p-menu-overlay {
        left: 1293px !important;
      }
    }

    @media (max-width: 1023px) {
      .p-menu-overlay {
        top: 257px !important;
      }
    }

    @media (min-width: 1024px) {
      .p-menu-overlay {
        top: 63px !important;
      }
    }
  }
}
