.layout-topbar-action {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color-secondary);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  color: var(--text-color);
  transition: background-color var(--element-transition-duration);
  cursor: pointer;

  &:hover {
    background-color: var(--surface-hover);
  }

  i {
    font-size: 1.25rem;
  }

  span {
    font-size: 1rem;
    display: none;
  }
}

:host ::ng-deep {
  .avatar-menu {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;

    &:hover {
      background-color: var(--surface-hover);
    }
  }

  .menu-custom {
    @media (min-width: 1545px) {
      .p-menu-overlay {
        left: 1293px !important;
      }
    }

    @media (max-width: 1023px) {
      .p-menu-overlay {
        top: 255px !important;
      }
    }

    @media (min-width: 1024px) {
      .p-menu-overlay {
        top: 63px !important;
      }
    }
  }
}
