<!-- <ng-container class="file-item" [formGroup]="formItem">
    <app-input-field
        [label]="'common.label.name' | translate"
        [placeholder]="'learning-library.steps-lessons.file-placeholder' | translate"
        formControlName="name"
        [formGroup]="formItem"
        [submitted]="submitted"
    />
    <app-file-upload
        [fileUrl]="mediaUrl"
        formControlName="mediaUrl"
        [formGroup]="formItem"
        [submitted]="submitted"
        (onUploadSuccess)="onUploadFileSuccess($event)"
        (onDelete)="onDeleteImage()"
    ></app-file-upload>
    <app-text-area-field
        class="short-description block mt-3"
        [label]="'learning-library.steps-lessons.short-description-label' | translate"
        [placeholder]="'learning-library.steps-lessons.short-description-placeholder' | translate"
        formControlName="description"
        [formGroup]="formItem"
        [submitted]="submitted"
        autoResize="true"
        rows="6"
    />
</ng-container> -->
