<div class="card password-profile-card">
  @if (account) {
    <div class="password-profile-form">
      <form (ngSubmit)="changePassword()" [formGroup]="formGroup">
        <div class="grid grid-cols-12 gap-4">
          <div class="col-span-12">
            <label for="currentPassword" class="font-bold inline-block mb-3 mr-1">Current Password</label><span class="text-red-600">*</span>
            <p-password
              id="currentPassword"
              placeholder="Enter Current Password"
              formControlName="currentPassword"
              [toggleMask]="true"
              [feedback]="false"
              [maxlength]="50"
              [ngClass]="{
                'ng-dirty ng-invalid': submitted && formGroup.get('currentPassword')?.invalid
              }"
              fluid
            >
            </p-password>
            <app-validation-message [submitted]="submitted" [control]="formGroup.controls['currentPassword']" />
          </div>
          <div class="col-span-12">
            <label for="newPassword" class="font-bold inline-block mb-3 mr-1">New Password</label><span class="text-red-600">*</span>
            <p-password
              id="newPassword"
              placeholder="Enter New Password"
              formControlName="newPassword"
              [toggleMask]="true"
              [maxlength]="50"
              [ngClass]="{
                'ng-dirty ng-invalid': submitted && formGroup.get('newPassword')?.invalid
              }"
              fluid
            >
              <ng-template #header>
                <div class="font-semibold text-xm mb-4">Pick a password</div>
              </ng-template>
              <ng-template #footer>
                <p-divider />
                <ul class="pl-2 ml-2 my-0 leading-normal">
                  <li>At least one lowercase</li>
                  <li>At least one uppercase</li>
                  <li>At least one numeric</li>
                  <li>At least one special character</li>
                  <li>Minimum 8 characters</li>
                </ul>
              </ng-template>
            </p-password>
            <app-validation-message [submitted]="submitted" [control]="formGroup.controls['newPassword']" />
          </div>

          <div class="col-span-12">
            <label for="confirmPassword" class="font-bold inline-block mb-3 mr-1">Confirm Password</label><span class="text-red-600">*</span>
            <p-password
              id="confirmPassword"
              placeholder="Enter Confirm Password"
              formControlName="confirmPassword"
              [toggleMask]="true"
              [feedback]="false"
              [maxlength]="50"
              [ngClass]="{
                'ng-dirty ng-invalid': submitted && formGroup.get('confirmPassword')?.invalid
              }"
              fluid
            >
            </p-password>
            <app-validation-message [submitted]="submitted" [control]="formGroup.controls['confirmPassword']" />
          </div>
        </div>
        <div class="mt-10">
          <p-button label="Cancel" icon="pi pi-times" [severity]="'secondary'" class="mr-4" (click)="cancel()" />
          <p-button type="submit" label="Change password" icon="pi pi-check" [loading]="loading" [disabled]="formGroup.invalid" />
        </div>
      </form>
    </div>
  }
</div>
