:root[class*='app-dark'] {
  --surface-ground: var(--p-surface-950);
  --code-background: var(--p-surface-800);
  --code-color: var(--p-surface-100);
  --section-block-background: var(--surface-800);
  --section-block-header-background: var(--surface-900);
  --statement-background: linear-gradient(0deg, rgba(40, 40, 40, 0.4), rgba(40, 40, 40, 0.4)),
    radial-gradient(77.36% 256.97% at 77.36% 57.52%, #b0a877 0%, #6b87a4 100%);
  --pre-tag-background: var(--p-surface-800);
  --blur-surface-rgba: 0,0,0;
}
