<div class="card-item cursor-pointer" (click)="navigateToDetail()">
  <img class="card-item__image" [src]="imageUrl" alt="Image" />

  <div class="card-item__content flex flex-col">
    <h3 class="card-item__content-title mb-2">Do You Really Know Java? Do You Really Know Java? Do You Really Know Java? Do You Really Know Java? Do You Really Know Java? Do You Really Know Java? Do You Really Know Java? Do You Really Know Java? Do You Really Know Java?</h3>
    <span class="card-item__content-description text-muted-color">
      From a humble passion project to a major language powering billions of devices worldwide, Java’s journey is anything but ordinary. Java has always been shaped by big ideas and the people behind them. Java has always been shaped by big ideas and the people behind them. Java has always been shaped by big ideas and the people behind them. Java has always been shaped by big ideas and the people behind them.
    </span>

    <div class="flex items-center mt-auto">
      <p-avatar [image]="'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRisy83RJ1OMAH8vzu3RMooF1BYVViN0iCglA&s'" class="mr-4" [style]="{ 'width': '32px', 'height': '32px' }" shape="circle" />
      <span class="inline-flex flex-col items-start">
        <span class="text-sm text-muted-color"> {{ 'Nguyen Huu Nghia' }} </span>
        <span class="text-sm text-muted-color"> {{ 'May 24, 2025' }} </span>
      </span>
    </div>
  </div>
</div>
