<div class="card-item cursor-pointer" (click)="navigateToDetail()">
  <img class="card-item__image" [src]="post.heroImage || 'assets/img/placeholder.svg'" alt="Thumbnail" />

  <div class="card-item__content flex flex-col">
    <h3 class="card-item__content-title mb-2">{{ post.title }}</h3>
    <span class="card-item__content-description text-muted-color">
      {{ post.description | htmlToText }}
    </span>

    <div class="flex items-center mt-auto">
      <p-avatar [image]="post.imageUrl || 'assets/img/default-avatar.png'" class="mr-4" [style]="{ width: '32px', height: '32px' }" shape="circle" />
      <span class="inline-flex flex-col items-start">
        <span class="text-sm text-muted-color"> {{ post.authorName }} </span>
        <span class="text-sm text-muted-color"> {{ post.lastUpdated | date }} </span>
      </span>
    </div>
  </div>
</div>
