<div class="px-6 md:px-8 post-details">
  <div class="flex flex-col xl:flex-row xl:gap-14 2xl:gap-20">
    <!-- Left/Main Content -->
    <div class="flex-1 post-content">
      <app-statement></app-statement>
      <h1 class="md:text-5xl">{{ post?.title }}</h1>
      <div class="flex items-center mb-10">
        <p-avatar [image]="post?.imageUrl || 'assets/img/default-avatar.png'" class="mr-4" size="large" shape="circle"></p-avatar>
        <div class="flex flex-col">
          <span>{{ post?.authorName }}</span>
          <span class="text-sm text-muted-color">{{ post?.lastUpdated | date }}</span>
        </div>
      </div>

      <div class="space-y-10">
        @if (post?.description) {
          <app-text-view [textContent]="post?.description || ''" />
        }

        <!-- Section content loop -->
        @for (section of post?.sections; track section) {
          @switch (section?.sectionType) {
            @case (EPostSectionType.TEXT) {
              <div>
                <app-text-view [textContent]="section.textContent || ''" />
              </div>
            }
            @case (EPostSectionType.IMAGE) {
              Image section is not implemented yet
            }
            @case (EPostSectionType.VIDEO) {
              <div>
                <app-video-view [sectionContent]="section" />
              </div>
            }
            @case (EPostSectionType.AUDIO) {
              <div>
                <app-audio-view [sectionContent]="section" />
              </div>
            }
            @case (EPostSectionType.FILE) {
              File section is not implemented yet
            }
          }
        }
      </div>
    </div>

    <!-- Right Sidebar (visible only on large screens and up) -->
    <div class="w-[320px] 2xl:w-[360px] hidden xl:block">
      <app-subscribe-newsletter />
    </div>
  </div>
</div>
