<div class="grid gap-6" [formGroup]="formItem">
  <div class="col-span-12 mt-4">
    <label for="heading" class="block font-bold mb-3">Heading</label>
    <input pInputText [type]="'text'" [formControl]="controls['heading']" [placeholder]="'Enter Heading'" id="heading" class="w-full" />
  </div>
  <div class="col-span-12">
    <label for="mediaUrl" class="font-bold inline-block mb-3 mr-1">YouTube OR Vimeo URL</label><span class="text-red-600">*</span>
    <input
      pInputText
      [type]="'text'"
      [formControl]="controls['mediaUrl']"
      [placeholder]="'Enter Video URL'"
      id="mediaUrl"
      class="w-full"
      [ngClass]="{
        'ng-dirty ng-invalid': submitted && controls['mediaUrl'].invalid
      }"
    />
    <app-validation-message [submitted]="submitted" [control]="controls['mediaUrl']" [fieldName]="'Video url'" />
  </div>
  @if (mediaUrl) {
    <div class="col-span-12">
      <app-video-embed-view [url]="mediaUrl" />
    </div>
  }

  <div class="col-span-12">
    <label for="description" class="block font-bold mb-3">Description</label>
    <textarea pTextarea id="description" [formControl]="controls['description']" placeholder="Enter Description" rows="3" cols="20" fluid></textarea>
  </div>
</div>
