<div class="grid gap-6" [formGroup]="formItem">
  <div class="col-12 mt-4">
    <label for="heading" class="block font-bold mb-3">Heading</label>
    <input pInputText [type]="'text'" class="w-full" [formControl]="controls['heading']" [placeholder]="'Enter Heading'" id="heading" [maxlength]="100" />
  </div>
  <div class="col-12">
    <label for="mediaUrl" class="block font-bold mb-3">YouTube OR Vimeo URL</label>
    <input pInputText [type]="'text'" class="w-full" [formControl]="controls['mediaUrl']" [placeholder]="'Enter Video URL'" id="mediaUrl" [maxlength]="1000" />
  </div>
  @if (mediaUrl) {
    <div class="col-12">
      <app-video-embed-view [url]="mediaUrl" />
    </div>
  }

  <div class="col-12">
    <label for="description" class="block font-bold mb-3">Description</label>
    <textarea pTextarea id="description" [formControl]="controls['description']" placeholder="Enter Description" rows="3" cols="20" fluid></textarea>
  </div>
</div>
